{% extends 'mainapp/layout.html' %}
{% load static %}

{% block main %}
<div id="content" class="page-content site-content single-post" role="main">
  <!-- Home Page Top Part -->
  <div class="row">
    <div class=" col-xs-12 col-sm-12">
      <div class="home-content">

        <div class="row flex-v-align py-2 bg-danger">
          <div class="col-sm-12 col-md-7 col-lg-7">
            <div class="home-text hp-left">
              <div class="owl-carousel text-rotation">
                <div class="item">
                  <h4>Frontend-разработчик</h4>
                </div>

                <div class="item">
                  <h4>Веб-дизайнер</h4>
                </div>

                <div class="item">
                  <h4>Backend-разработчик</h4>
                </div>

                <div class="item">
                  <h4>Python-разработчик</h4>
                </div>

                <div class="item">
                  <h4>Java-разработчик</h4>
                </div>

                <div class="item">
                  <h4>Фиксик</h4>
                </div>
              </div>

              <h1>Эркин Атай</h1>
              <p>Приветствую вас в моем портфолио!
                Меня зовут Чолпонбеков Марсель, и я опытный full-stack разработчик.
               </p>
            </div>
          </div>

          <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="home-photo">
              <div class="hp-inner" style="background-image: url({% static 'mainapp/img/stethem.jpeg' %});">
              </div>
            </div>
          </div>
        </div>



        <div class="row flex-v-align py-2 bg-primary">
          <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="home-photo">
              <div class="hp-inner" style="background-image: url({% static 'mainapp/img/stethem.jpeg' %});">
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-7 col-lg-7">
            <div class="home-text hp-left">
              <div class="owl-carousel text-rotation">
                <div class="item">
                  <h4>Frontend-разработчик</h4>
                </div>

                <div class="item">
                  <h4>Веб-дизайнер</h4>
                </div>

                <div class="item">
                  <h4>Backend-разработчик</h4>
                </div>

                <div class="item">
                  <h4>Python-разработчик</h4>
                </div>

                <div class="item">
                  <h4>Java-разработчик</h4>
                </div>

                <div class="item">
                  <h4>Фиксик</h4>
                </div>
              </div>

              <h1>Эркин Бакай</h1>
              <p>Приветствую вас в моем портфолио!
                Меня зовут Чолпонбеков Марсель, и я опытный full-stack разработчик.
              </p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <!-- Home Page Top Part -->

  <!-- Services -->
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="p-50"></div>

      <div class="block-title">
        <h2>Услуги</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <div class="info-list-w-icon">
        <div class="info-block-w-icon">
          <div class="ci-icon">
            <i class="linecons linecons-pen"></i>
          </div>

          <div class="ci-text">
            <h4>Копирайтинг</h4>
            <p>Я предоставляю профессиональные услуги копирайтинга. Создаю увлекательный контент для веб-сайтов, блогов, рекламы и социальных медиа. Гарантирую высокое качество, подчеркиваю уникальность бренда и привлекаю целевую аудиторию. Доверьтесь мне для яркого и эффективного передачи вашего сообщения.</p>
          </div>
        </div>

      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="info-list-w-icon">
        <div class="info-block-w-icon">
          <div class="ci-icon">
            <i class="linecons linecons-display"></i>
          </div>

          <div class="ci-text">
            <h4>Веб-дизайн</h4>
            <p>Яркий и креативный веб-дизайн — это ключ к успешному визуальному восприятию вашего проекта. Моя работа направлена на создание уникальных и функциональных веб-сайтов, которые привлекают внимание и оставляют положительное впечатление. С моим подходом дизайн становится эффективным инструментом для достижения ваших целей.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="info-list-w-icon">

        <div class="info-block-w-icon">
          <div class="ci-icon">
            <i class="linecons linecons-shop"></i>
          </div>

          <div class="ci-text">
            <h4>Интернет-торговля</h4>
            <p>В мире интернет-торговли каждый момент важен. Моя задача - создавать привлекательные и эффективные онлайн-площадки, которые помогут вам выделиться среди конкурентов. Сочетая удобство, стиль и современный дизайн, я стремлюсь сделать ваш интернет-магазин максимально привлекательным для потенциальных покупателей.</p>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- /Services -->

  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="p-20"></div>

      <!-- Testimonials -->
      <div class="block-title">
        <h2>Отзывы</h2>
      </div>

      <div id="testimonials_1" class="testimonials owl-carousel" data-mobile-items="1" data-tablet-items="1" data-items="1">
        <!-- Testimonial 1 -->
        {% for i in testimonial %}
        <div class="testimonial-item">
          <div class="testimonial-content">

            <div class="testimonial-picture">
              <img src="{% static 'mainapp/img/testimonials/'|add:i.img %}" alt="{{ i.name }}"/>
            </div>

            <div class="testimonial-text">
              <p>{{ i.text }}</p>
            </div>

            <div class="testimonial-author-info">
              <h5 class="testimonial-author">{{ i.name }}</h5>
              <p class="testimonial-firm">{{ i.company }}</p>
            </div>

            <div class="testimonial-icon">
              <i class="fa fa-quote-left"></i>
            </div>
             <div class="testimonial-icon-big">
              <i class="fa fa-quote-right"></i>
            </div>

          </div>
        </div>
        {% endfor %}
        <!-- End of Testimonial 1 -->
      </div>
      <!-- /Testimonials -->

      <div class="p-40"></div>

      <!-- Clients Slider -->
      <div class="block-title">
        <h2>Клиенты</h2>
      </div>

      <div id="clients_1" class="clients owl-carousel" data-mobile-items="1" data-tablet-items="3" data-items="6">
        <div class="client-block">
          <a href="#" target="_blank" title="Amazon">
            <img src="{% static 'mainapp/img/clients/amazon.png' %}" alt="Amazon">
          </a>
        </div>

        <div class="client-block">
          <a href="#" target="_blank" title="Lenta">
            <img src="{% static 'mainapp/img/clients/lenta.png' %}" alt="Lenta">
          </a>
        </div>

        <div class="client-block">
          <a href="#" target="_blank" title="Sber">
            <img src="{% static 'mainapp/img/clients/sber.png' %}" alt="Sber">
          </a>
        </div>

        <div class="client-block">
          <a href="#" target="_blank" title="Amogus">
            <img src="{% static 'mainapp/img/clients/amogus.png' %}" alt="Amogus">
          </a>
        </div>

        <div class="client-block">
          <a href="#" target="_blank" title="PayPal">
            <img src="{% static 'mainapp/img/clients/pypal.png' %}" alt="PayPal">
          </a>
        </div>

        <div class="client-block">
          <a href="#" target="_blank" title="Sweety">
            <img src="{% static 'mainapp/img/clients/logo.png' %}" alt="Sweety">
          </a>
        </div>

        <div class="client-block">
          <a href="#" target="_blank" title="WordPress">
            <img src="{% static 'mainapp/img/clients/nethunter.png' %}" alt="NetHunter">
          </a>
        </div>
      </div>
      <!-- /Clients Slider -->

      <div class="p-40"></div>

    </div>
  </div>

  <!-- Fun Facts -->
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="block-title">
        <h2>Интересные факты</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="lm-info-block gray-default">
        <i class="linecons linecons-heart"></i>
        <h4>Довольные клиенты</h4>
        <span class="lm-info-block-value">1,964</span>
        <span class="lm-info-block-text"></span>
      </div>
    </div>

    <div class="col-xs-12 col-sm-3">
      <div class="lm-info-block gray-default">
        <i class="linecons linecons-clock"></i>
        <h4>Годы работы</h4>
        <span class="lm-info-block-value">10</span>
        <span class="lm-info-block-text"></span>
      </div>
    </div>

    <div class="col-xs-12 col-sm-3 ">
      <div class="lm-info-block gray-default">
        <i class="linecons linecons-star"></i>
        <h4>Полученные награды</h4>
        <span class="lm-info-block-value">15</span>
        <span class="lm-info-block-text"></span>
      </div>
    </div>

    <div class="col-xs-12 col-sm-3 ">
      <div class="lm-info-block gray-default">
        <i class="linecons linecons-cup"></i>
        <h4>Сделаныйх сайтов</h4>
        <span class="lm-info-block-value">2,286</span>
        <span class="lm-info-block-text"></span>
      </div>
    </div>
  </div>
  <!-- /Fun Facts -->

  <div class="p-40"></div>

  <!-- Pricing -->

  <!-- /Pricing -->
</div>
{% endblock %}