{% extends 'mainapp/layout.html' %}
{% load static %}

{% block main %}
<div class="page-title">
  <h1>Контакт</h1>
  <div class="page-subtitle">
      <h4>Связаться</h4>
  </div>
</div>

<div id="content" class="page-content site-content single-post" role="main">


  <div class="row">
    <div class="col-xs-12 col-sm-4 align-self-center pt-sm-4">

      <div id="info_list_1" class="info-list-w-icon">

        <div class="info-block-w-icon">
          <div class="ci-icon">
            <i class="linecons linecons-phone"></i>
          </div>
          <div class="ci-text">
            <h4>+996 (709) 222 222</h4>

          </div>
        </div>

        <div class="info-block-w-icon">
          <div class="ci-icon">
            <i class="linecons linecons-location"></i>
          </div>
          <div class="ci-text">
            <h4>Бишкек</h4>

          </div>
        </div>

        <div class="info-block-w-icon">
          <div class="ci-icon">
            <i class="linecons linecons-mail"></i>
          </div>
          <div class="ci-text">
            <h4>Marsel@gmail.com</h4>

          </div>
        </div>
      </div>

    </div>


    <div class=" col-xs-12 col-sm-8 ">

      <div class="block-title">
        <h2>Могу я чем-нибудь помочь?</h2>
      </div>

      <form id="contact_form" class="contact-form" action="contact_form/contact_form.php" method="post">

        <div class="messages"></div>

        <div class="controls two-columns">
          <div class="fields clearfix">
            <div class="left-column">
              <div class="form-group form-group-with-icon">
                <input id="form_name" type="text" name="name" class="form-control" placeholder="Полное имя" required="required" data-error="Name is required.">
                <div class="form-control-border"></div>
                <div class="help-block with-errors"></div>
              </div>

              <div class="form-group form-group-with-icon">
                <input id="form_email" type="email" name="email" class="form-control" placeholder="Адрес электронной почты" required="required" data-error="Valid email is required.">
                <div class="form-control-border"></div>
                <div class="help-block with-errors"></div>
              </div>

              <div class="form-group form-group-with-icon">
                <input id="form_name" type="text" name="subject" class="form-control" placeholder="Тема" required="required" data-error="Subject is required.">
                <div class="form-control-border"></div>
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="right-column">
              <div class="form-group form-group-with-icon">
                <textarea id="form_message" name="message" class="form-control" placeholder="Сообщение" rows="7" required="required" data-error="Please, leave me a message."></textarea>
                <div class="form-control-border"></div>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>

          <input type="submit" class="button btn-send disabled" value="Отправить сообщение">
        </div>
      </form>

    </div>


  </div>

  <div class="row pt-5 mt-5">
    <div class="col-xs-12 col-sm-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4137.371224400509!2d74.60107841495181!3d42.83985278547692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb618921598d7%3A0xea43bfa802477f7e!2z0JrRi9GA0LPRi9C30YHQutC40Lkg0LPQvtGB0YPQtNCw0YDRgdGC0LLQtdC90L3Ri9C5INGD0L3QuNCy0LXRgNGB0LjRgtC10YIg0YHRgtGA0L7QuNGC0LXQu9GM0YHRgtCy0LAsINGC0YDQsNC90YHQv9C-0YDRgtCwINC4INCw0YDRhdC40YLQtdC60YLRg9GA0Ys!5e0!3m2!1sru!2skg!4v1702655080188!5m2!1sru!2skg" width="90%" height="450" style="border:0;" class="d-flex mx-auto" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>

{% endblock %}


