{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Django сайт</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="portfolio " />
    <meta name="keywords" content="vcard, resposnive, retina, resume, jquery, css3, bootstrap, portfolio" />
    <meta name="author" content="lmpixels" />
    <link rel="shortcut icon" href="{% static 'mainapp/img/star-half.svg' %}">


    <link rel="stylesheet" href="{% static 'mainapp/css/normalize.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'mainapp/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'mainapp/css/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'mainapp/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'mainapp/css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    <script src="{% static 'mainapp/js/modernizr.custom.js' %}"></script>
  </head>

  <body class="page">

    <div class="lm-animated-bg"></div>

    <!-- Loading animation -->
    <div class="preloader">
      <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
      </div>
    </div>
    <!-- /Loading animation -->

    <!-- Scroll To Top Button -->
    <div class="lmpixels-scroll-to-top"><i class="lnr lnr-chevron-up"></i></div>
    <!-- /Scroll To Top Button -->

    <div class="page-scroll">
      <div id="page_container" class="page-container bg-move-effect" data-animation="transition-flip-in-right">

        <!-- Header -->
        <header id="site_header" class="header">
          <div class="header-content clearfix">

            <!-- Text Logo -->
            <div class="text-logo">
              <a href="/">
                <div class="logo-symbol"><i class="bi bi-star-half"></i></div>
                <div class="logo-text">Marsel</div>
              </a>
            </div>
            <!-- /Text Logo -->

            <!-- Navigation -->
            <div class="site-nav mobile-menu-hide">
              <ul class="leven-classic-menu site-main-menu">
                <li class="menu-item current-menu-item">
                  <a href="/">Обо мне</a>
                </li>

                <li class="menu-item ">
                  <a href="resume">Резюме</a>
                </li>

                <li class="menu-item">
                  <a href="portfolio">Портфолио</a>
                </li>

                <li class="menu-item">
                  <a href="contact">Контакт</a>
                </li>
              </ul>
            </div>

            <!-- Mobile Menu Toggle -->
            <a class="menu-toggle mobile-visible">
              <i class="fa fa-bars"></i>
            </a>
            <!-- Mobile Menu Toggle -->
          </div>
        </header>
        <!-- /Header -->

        <div id="main" class="site-main">
          <div id="main-content" class="single-page-content">
            <div id="primary" class="content-area">
              {% block main %}

              {% endblock %}
            </div>
          </div>
        </div>

        <!-- Footer -->
        <footer class="site-footer clearfix">
          <div class="footer-social">
            <ul class="footer-social-links">
              <li>
                <a href="#" target="_blank">Twitter</a>
              </li>

              <li>
                <a href="#" target="_blank">Facebook</a>
              </li>

              <li>
                <a href="#" target="_blank">Instagram</a>
              </li>
            </ul>
          </div>

          <div class="footer-copyrights">
            <p>© 2020 All rights reserved. Web-дизайн.</p>
          </div>
        </footer>
        <!-- /Footer -->

      </div>
    </div>

    <script src="{% static 'mainapp/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'mainapp/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="{% static 'mainapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mainapp/js/jquery.shuffle.min.js' %}"></script>
    <script src="{% static 'mainapp/js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'mainapp/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'mainapp/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrDf32aQTCVENBhFJbMBKOUTiUAABtC2o"></script>
    <script src="{% static 'mainapp/js/jquery.googlemap.js' %}"></script>
    <script src="{% static 'mainapp/js/validator.js' %}"></script>
    <script src="{% static 'mainapp/js/main.js' %}"></script>
  </body>
</html>
