{% extends 'mainapp/layout.html' %}
{% load static %}

{% block main %}
<div class="page-title">
  <h1>Портфолио</h1>
  <div class="page-subtitle">
      <h4>Мои Работы</h4>
  </div>
</div>

<div id="content" class="page-content site-content single-post" role="main">

  <div class="row">
    <div class=" col-xs-12 col-sm-12 ">
      <!-- Portfolio Content -->
      <div id="portfolio_content_q" class="portfolio-content">

        <ul class="portfolio-filters">
          <li class="active">
            <a class="filter btn btn-sm btn-link" data-group="category_all">Все</a>
          </li>

          <li>
            <a class="filter btn btn-sm btn-link" data-group="category_detailed">Проект</a>
          </li>

          <li>
            <a class="filter btn btn-sm btn-link" data-group="category_direct-url">Прямая ссылка</a>
          </li>

          <li>
            <a class="filter btn btn-sm btn-link" data-group="category_image">Изображение</a>
          </li>
        </ul>


        <!-- Portfolio Grid -->
        <div class="portfolio-grid three-columns shuffle">



          <!-- Portfolio Item 1 -->
          <figure class="item standard" data-groups='["category_all", "category_detailed"]'>
            <div class="portfolio-item-img">
              <img src="" alt="Full Project 1" title="" />
              <a href=""></a>
            </div>

            <i class="far fa-file-alt"></i>
            <h4 class="name">Full Project 1</h4>
            <span class="category">Detailed</span>
          </figure>
          <!-- /Portfolio Item 1 -->

          <!-- Portfolio Item 2 -->
          <figure class="item standard" data-groups='["category_all", "category_detailed"]'>
            <div class="portfolio-item-img">
              <img src="" alt="Full Project 2" title="" />
              <a href="" ></a>
            </div>

            <i class="far fa-file-alt"></i>
            <h4 class="name">Full Project 2</h4>
            <span class="category">Detailed</span>
          </figure>
          <!-- /Portfolio Item 2 -->

          <!-- Portfolio Item 7 -->
          <figure class="item standard" data-groups='["category_all", "category_detailed"]'>
            <div class="portfolio-item-img">
              <img src="" alt="Full Project 3" title="" />
              <a href="" ></a>
            </div>

            <i class="far fa-file-alt"></i>
            <h4 class="name">Full Project 3</h4>
            <span class="category">Detailed</span>
          </figure>
          <!-- /Portfolio Item 7 -->

          <!-- Portfolio Item 3 -->
          <figure class="item lbvideo" data-groups='["category_all", "category_video", "category_youtube-video"]'>
              <div class="portfolio-item-img">
                <img src="" alt="YouTube Video 2" title="" />
                <a href="https://www.youtube.com/watch?v=_inKs4eeHiI" class="lightbox mfp-iframe" title="YouTube Video 2"></a>
              </div>

              <i class="fab fa-youtube"></i>
              <h4 class="name">YouTube Video 2</h4>
              <span class="category">Video, YouTube Video</span>
          </figure>
          <!-- /Portfolio Item 3 -->

          <!-- Portfolio Item 4 -->
          <figure class="item lbimage" data-groups='["category_all", "category_image"]'>
            <div class="portfolio-item-img">
              <img src="https://kartinki.pibig.info/uploads/posts/2023-04/1680375249_kartinki-pibig-info-p-ochen-krasivie-kartinki-so-smislom-arti-1.jpg" alt="Image 1" title="" />
              <a class="lightbox" title="Image 2" href="https://kartinki.pibig.info/uploads/posts/2023-04/1680375249_kartinki-pibig-info-p-ochen-krasivie-kartinki-so-smislom-arti-1.jpg"></a>
            </div>

            <i class="fa fa-image"></i>
            <h4 class="name">Image 1</h4>
            <span class="category">Image</span>
          </figure>
          <!-- /Portfolio Item 4 -->

          <!-- Portfolio Item 6 -->
          <figure class="item lbvideo" data-groups='["category_all", "category_video", "category_youtube-video"]'>
            <div class="portfolio-item-img">
              <img src="./img/portfolio/youtube2.png" alt="YouTube Video 1" title="" />
              <a href="https://www.youtube.com/watch?v=IIKlkqbeYbI" class="lightbox mfp-iframe" title="YouTube Video 1"></a>
            </div>

            <i class="fab fa-youtube"></i>
            <h4 class="name">YouTube Video 1</h4>
            <span class="category">Video, YouTube Video</span>
          </figure>
          <!-- /Portfolio Item 6 -->


          <!-- Portfolio Item 9 -->
          <figure class="item lbimage" data-groups='["category_all", "category_image"]'>
            <div class="portfolio-item-img">
              <img src="https://static.mk.ru/upload/entities/2023/10/30/15/articles/detailPicture/bd/da/71/9d/9c8509859ac2c49d502cde3426dd94ed.jpg" alt="Image 2" title="" />
              <a class="lightbox" title="Image 1" href="https://static.mk.ru/upload/entities/2023/10/30/15/articles/detailPicture/bd/da/71/9d/9c8509859ac2c49d502cde3426dd94ed.jpg"></a>
            </div>

            <i class="fa fa-image"></i>
            <h4 class="name">Image 2</h4>
            <span class="category">Image</span>
          </figure>
          <!-- /Portfolio Item 9 -->
        </div>
        <!-- /Portfolio Content -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
