{% extends 'mainapp/layout.html' %}
{% load static %}

{% block main %}
<div class="page-title">
  <h1>Портфолио</h1>
  <div class="page-subtitle">
      <h4>Мои Работы</h4>
  </div>
</div>

<div id="content" class="page-content site-content single-post" role="main">

  <div class="row">
    <div class=" col-xs-12 col-sm-12 ">
      <!-- Portfolio Content -->
      <div id="portfolio_content_q" class="portfolio-content">


        <!-- Portfolio Grid -->
        <div class="portfolio-grid three-columns shuffle">
          {% for i in portfolio %}
          <!-- Portfolio Item 7 -->
          <figure class="item standard" data-groups='["category_all", "category_detailed"]'>
            <div class="portfolio-item-img">
              <img src="{{ i.img }}" alt="{{ i.name }}" title="" />
              <a href="{{ i.href }}" ></a>
            </div>

            <i class="far fa-file-alt"></i>
            <h4 class="name">{{ i.name }}</h4>
            <span class="category">Detailed</span>
          </figure>
          <!-- /Portfolio Item 7 -->
          {% endfor %}
        </div>
        <!-- /Portfolio Content -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
