{% extends 'mainapp/layout.html' %}
{% load static %}

{% block main %}
<div class="page-title">
  <h1>Резюме</h1>
  <div class="page-subtitle">
      <h4> 30 лет опыта</h4>
  </div>
</div>

<div id="content" class="page-content site-content single-post" role="main">
  <div class="row">

    <div class=" col-xs-12 col-sm-6 ">
      <div class="block-title">
        <h2>Образование</h2>
      </div>

      <div id="timeline_1" class="timeline clearfix">
        <div class="timeline-item clearfix">
          <h5 class="item-period ">2021</h5>
          <span class="item-company">Кыргызский государственный технический университет</span>
          <h4 class="item-title">Frontent-разработка</h4>
          <p>Работая над различными проектами, я приобрел опыт в области верстки, создания динамичных и адаптивных веб-сайтов и обеспечения удобства пользовательского взаимодействия.</p>
        </div>

        <div class="timeline-item clearfix">
          <h5 class="item-period ">2022</h5>
          <span class="item-company">Кыргызский государственный технический университет</span>
          <h4 class="item-title">Backend-разработка</h4>
          <p>Работая над различными проектами, я приобрел опыт в области верстки, создания динамичных и адаптивных веб-сайтов и обеспечения удобства пользовательского взаимодействия.</p>
        </div>

        <div class="timeline-item clearfix">
          <h5 class="item-period ">2023</h5>
          <span class="item-company">Кыргызский государственный технический университет</span>
          <h4 class="item-title">Графический дизайн</h4>
          <p>В течение своего обучения грфического дизайна я углубленно изучил творческие и технические аспекты этой области. Обучение включал в себя разнообразные проекты, направленные на развитие навыков работы с различными графическими инструментами.</p>
        </div>

        <div class="timeline-item clearfix">
          <h5 class="item-period ">2024</h5>
          <span class="item-company">Кыргызский государственный технический университет</span>
          <h4 class="item-title">Дизайн пользовательского интерфейса</h4>
          <p>В ходе своего обучения я углубленно изучал принципы и техники дизайна пользовательского интерфейса. Я приобрел опыт работы с современными инструментами и технологиями, что позволяет мне успешно применять свои знания в практических задачах.</p>
        </div>

      </div>
    </div>

    <div class=" col-xs-12 col-sm-6 ">
      <div class="block-title">
        <h2>Опыт</h2>
      </div>

      <div id="timeline_2" class="timeline clearfix">
        <div class="timeline-item clearfix">
          <h5 class="item-period current">2026 - 2028</h5>
          <span class="item-company">Яндекс</span>
          <h4 class="item-title">Junior UI/UX Дизайнер</h4>
          <p>В течение своего времени в Яндекс я занимал позицию Junior UI/UX Дизайнера. Опыт в Яндекс позволил мне развивать навыки в области дизайна, а также взаимодействия с командой для достижения общих целей и стандартов качества.</p>
        </div>

        <div class="timeline-item clearfix">
          <h5 class="item-period current">2028 - 2031</h5>
          <span class="item-company">Microsoft</span>
          <h4 class="item-title">Middle UI/UX Дизайнер</h4>
          <p>За период работы в Microsoft на позиции Middle UI/UX Дизайнера, моя деятельность была направлена на создание продвинутых и интуитивно понятных пользовательских интерфейсов. </p>
        </div>

        <div class="timeline-item clearfix">
          <h5 class="item-period ">2031 - 2033</h5>
          <span class="item-company">Tesla</span>
          <h4 class="item-title">Senior UI/UX Дизайнер</h4>
          <p>На позиции Senior UI/UX Дизайнера в Tesla, я был в фокусе творческого процесса, создавая инновационные пользовательские интерфейсы, которые не только визуально привлекательны, но и улучшают взаимодействие с продуктами.  </p>
        </div>

        <div class="timeline-item clearfix">
          <h5 class="item-period ">2033 - текущий момент</h5>
          <span class="item-company">Google</span>
          <h4 class="item-title">Ведущий UI/UX Дизайнер</h4>
          <p>На текущей позиции Ведущего UI/UX Дизайнера в Google я руковожу процессом проектирования пользовательских интерфейсов, управляю креативными решениями и обеспечиваю выдающийся пользовательский опыт. Моя работа включает в себя глубокий анализ требований пользователей, разработку прототипов и внедрение передовых технологий в дизайн.</p>
        </div>
      </div>
    </div>
  </div>





  <div class="row">
    <div class=" col-xs-12 col-sm-12 ">
      <div class="p-40"></div>
    </div>
  </div>

  <div class="row">
    <div class=" col-xs-12 col-sm-4 ">
      <div class="block-title">
        <h2>Дизайнерские навыки</h2>
      </div>

      <div id="skills_1" class="skills-info skills-first-style">
        <!-- Skill 1 -->
        <div class="clearfix">
          <h4>UI/UX-дизайн</h4>
          <div class="skill-value">110%</div>
        </div>

        <div id="skill_1" data-value="100" class="skill-container">
          <div class="skill-percentage"></div>
        </div>
        <!-- /Skill 1 -->

        <!-- Skill 2 -->
        <div class="clearfix">
          <h4>Дизайн для печати</h4>
          <div class="skill-value">75%</div>
        </div>

        <div id="skill_2" data-value="75" class="skill-container">
          <div class="skill-percentage"></div>
        </div>
        <!-- /Skill 2 -->

        <!-- Skill 3 -->
        <div class="clearfix">
          <h4>Графический дизайн</h4>
          <div class="skill-value">85%</div>
        </div>
        <div id="skill_3" data-value="85" class="skill-container">
          <div class="skill-percentage"></div>
        </div>
        <!-- Skill 3 -->

        <!-- Skill 4 -->
        <div class="clearfix">
          <h4>Дизайн логотипа</h4>
          <div class="skill-value">90%</div>
        </div>
        <div id="skill_4" data-value="90" class="skill-container">
          <div class="skill-percentage"></div>
        </div>
        <!-- /Skill 4 -->

        <!-- Skill 5 -->
        <div class="clearfix">
          <h4>Дизайн чайника</h4>
          <div class="skill-value">50%</div>
        </div>
        <div id="skillСр" data-value="50" class="skill-container">
          <div class="skill-percentage"></div>
        </div>
        <!-- /Skill 5 -->
      </div>

    </div>


    <div class=" col-xs-12 col-sm-4 ">
      <div class="block-title">
        <h2>Навыки кодирования</h2>
      </div>


      <div id="skills_2" class="skills-info skills-first-style">
        <!-- Skill 5 -->
        <div class="clearfix">
          <h4>HTML / CSS</h4>
          <div class="skill-value">100%</div>
        </div>
        <div id="skill_5" data-value="100" class="skill-container">
          <div class="skill-percentage"></div>
        </div>
        <!-- /Skill 5 -->

        <!-- Skill 6 -->
        <div class="clearfix">
          <h4>PHP</h4>
          <div class="skill-value">90%</div>
        </div>
        <div id="skill_6" data-value="90" class="skill-container">
          <div class="skill-percentage"></div>
        </div>
        <!-- /Skill 6 -->

       <!-- Skill 7 -->
       <div class="clearfix">
        <h4>JavaScript</h4>
        <div class="skill-value">90%</div>
      </div>
      <div id="skill_6" data-value="90" class="skill-container">
        <div class="skill-percentage"></div>
      </div>
      <!-- /Skill 7 -->

        <!-- Skill 8 -->
        <div class="clearfix">
          <h4>Python</h4>
          <div class="skill-value">85%</div>
        </div>
        <div id="skill_8" data-value="85" class="skill-container">
          <div class="skill-percentage"></div>
        </div>
        <!-- /Skill 8 -->

        <!-- Skill 9 -->
        <div class="clearfix">
          <h4>Java</h4>
          <div class="skill-value">93%</div>
        </div>
        <div id="skillJava" data-value="93" class="skill-container">
          <div class="skill-percentage"></div>
        </div>
        <!-- /Skill 9 -->
      </div>
    </div>

    <div class=" col-xs-12 col-sm-4 ">
      <div class="block-title">
        <h2>Дизайнерские навыки</h2>
      </div>

      <div id="skills_1" class="skills-info skills-first-style">
        <!-- Skill 1 -->
        <div class="clearfix">
          <h4>UI/UX-дизайн</h4>
          <div class="skill-value">110%</div>
        </div>

        <div id="skill_1" data-value="100" class="skill-container">
          <div class="skill-percentage"></div>
        </div>
        <!-- /Skill 1 -->

        <!-- Skill 2 -->
        <div class="clearfix">
          <h4>Дизайн для печати</h4>
          <div class="skill-value">75%</div>
        </div>

        <div id="skill_2" data-value="75" class="skill-container">
          <div class="skill-percentage"></div>
        </div>
        <!-- /Skill 2 -->

        <!-- Skill 3 -->
        <div class="clearfix">
          <h4>Графический дизайн</h4>
          <div class="skill-value">85%</div>
        </div>
        <div id="skill_3" data-value="85" class="skill-container">
          <div class="skill-percentage"></div>
        </div>
        <!-- Skill 3 -->

        <!-- Skill 4 -->
        <div class="clearfix">
          <h4>Дизайн логотипа</h4>
          <div class="skill-value">90%</div>
        </div>
        <div id="skill_4" data-value="90" class="skill-container">
          <div class="skill-percentage"></div>
        </div>
        <!-- /Skill 4 -->

        <!-- Skill 5 -->
        <div class="clearfix">
          <h4>Дизайн чайника</h4>
          <div class="skill-value">50%</div>
        </div>
        <div id="skillСр" data-value="50" class="skill-container">
          <div class="skill-percentage"></div>
        </div>
        <!-- /Skill 5 -->
      </div>

    </div>
  </div>
</div>
{% endblock %}


